/* START LOGIN */
.m_container{margin-top: 10%;text-align: center;width: 300px;padding: 5px 50px 50px 25px;border-radius: 5px;box-shadow: 0px 0px 10px #aaa;}
.m_container .m_head{color: #999;font-size: 16px;padding-top: 25px;text-align: center;border-bottom: solid 1px;margin-bottom: 15px;}

.m_container .m_head span{font-size: 3em;}
/* END LOGIN */


/* START PANEL*/
*{margin: 0px;padding: 0px;}
body{margin: 0px;padding: 0px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
a:link{text-decoration: none;}

.contanier section{display: inline-block;height: 100%;margin: 0px;vertical-align: top;}
.contanier .main_content{min-height: 540px;}

	/* START HEADER */
header{background: #ddd;height: 100px;}
	/* END HEADER */

	/* START BROWSER */
.browser{/*background: #eee;*/background-color: #f5f5f5;border-right: solid 1px #ddd;box-shadow: 1px 0px 5px #ddd;width: 18%;}
.browser .well{	border: none;}

	/* END BROWSER */

	/* START CONTENT */
.main_content{/*background: #eee;*/width: 81.63%;}

		/* START REGISTRAR NOTA */
#module_register_nota{padding: 20px;}


		/* END REGISTRAR NOTA */

	/* END CONTENT */

	/* START FOOTER */
footer{position: relative;bottom: 0px;padding: 15px;background: #333;color: #fff;height: 5%;width: 97.8%;}

	/* END FOOTER */


/* END PANEL */


/* START PROVEEDOR */

#mod_proveedor{padding: 25px;}
#mod_proveedor .sec{display: inline-block; vertical-align: top;}
#mod_proveedor .table{width: 700px;}
#mod_proveedor .form_proveedor{text-align: left;}
#mod_proveedor .form_proveedor .controls{text-align: left;}

/* END PROVEEDOR */

/* START ACOPIADOR */

#mod_acopiador{padding: 25px;}
#mod_acopiador .sec{display: inline-block; vertical-align: top;}
#mod_acopiador .table{width: 700px;}
#mod_acopiador .form_proveedor{text-align: left;}
#mod_acopiador .form_proveedor .controls{text-align: left;}

/* END ACOPIADOR */

/* START PRODUCTO */

#mod_producto{padding: 25px;}
#mod_producto .sec{display: inline-block; vertical-align: top;}
#mod_producto .table{width: 700px;}
#mod_producto .form_proveedor{text-align: left;}
#mod_producto .form_proveedor .controls{text-align: left;}

/* END PRODUCTO */

/* START ACTUAL_NOTA*/
#module_actual_nota{padding: 20px;}
/* END ACTUAL_NOTA*/

/* START ACTUAL PRECIO*/
#module_actual_precio{padding: 20px;}
#module_actual_precio .sec_form{display: inline-block;vertical-align: top; width: 30%;}
#module_actual_precio table{width: 70%; margin: 0 auto;}
/* END ACTUAL PRECIO*/


/* START BOLETA*/
#module_boleta{padding: 20px;}
#module_boleta .sec_form{display: inline-block;vertical-align: top; width: 30%;}
#module_boleta table{width: 70%; margin: 0 auto;}
/* END BOLETA*/


/* START Factura*/
#module_factura{padding: 20px;}
#module_factura .sec_form{display: inline-block;vertical-align: top; width: 30%;}
#module_factura table{width: 70%; margin: 0 auto;}
/* END Factura*/
